<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1>Users</h1>
      <form action="/user/save" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="task" class="form-label">Task</label>
          <textarea class="form-control" id="task" name="task" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="task" class="form-label">file</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
